.programs-container
    width 400px
    height 100vh
    position fixed
    top 40px
    left 0px
    padding 4px
    padding-top 0px
    
    background ignorable2
    border-right 2px solid ignorable3
    
    z-index 4
    
    .field
        margin-top 0px
        
        p
            width 100px
            
        input
            width 296px
            

.programs-list
    width 392px
    height calc(100vh - 84px)
    margin-top 8px
    
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    background backgroundx2
    
    overflow scroll
    
    .item
        // height 100px
        width 392px
        cursor pointer
        
        &.odd
            background offBlueDarker