textarea
    background-color backgroundx2
    
    resize none    
    font-family HFNSS
    font-size 2em
    -webkit-font-smoothing none
    color pointColor
    
    margin-top 4px
    
    outline none
    
    border-right 2px solid ignorable0
    border-bottom 2px solid ignorable0
    border-left 2px solid ignorable3
    border-top 2px solid ignorable3
    
    &.logic
        font-family HFLLG